<h2>Mensagem do Knap \o/</h2>

<p>Olá <%= @user.name %>, sua senha foi alterada.</p>
<p>O seu login é <b><%= @user.email %></b></p>
<p>A sua nova senha é <b><%= @user.password %></b></p>
<p>Bons estudos!</p>
<p></p>
<p>Qualquer dúvida, conte conosco.</p>
<p></p>
<p>Knap - Plataforma de ensino online</p>
