<h1>Mensagem do Knap \o/</h1>

<p>Olá <%= @user.name %>, sua senha foi alterada.</p>
<p>O seu login é <%= @user.email %></p>
<p>A sua nova senha é <%= @user.password %></p>
<p>Boas aulas!</p>
<p></p>
<p>Knap - Plataforma de ensino online</p>
