<h1>Olá <%= @user.name %>,</h1>

<p>Temos uma novidade para você.</p>
<p>Já está disponível o novo curso:</p>
<h1><%= @course.name %></h1>
<p></p>
<p>Bons estudos!</p>
<p></p>
<p>Knap - Plataforma de ensino online</p>
