<h2>Bem vindo ao Knap! \o/</h2>

<p>Olá <%= @user.name %>, você já pode acessar o Knap.</p>
<p>O seu login é <b><%= @user.email %></b></p>
<p>A sua senha é <b><%= @user.password %></b></p>
<p>Bons estudos!</p>
<p></p>
<p>Qualquer dúvida, conte conosco.</p>
<p></p>
<p>Knap - Plataforma de ensino online</p>
