<h2>Olá <%= @user.name %>,</h2>

<p>Temos uma novidade para você.</p>
<p>Já está disponível o novo curso:</p>
<h2><%= @course.name %></h2>
<p></p>
<p>Bons estudos!</p>
<p></p>
<p>Knap - Plataforma de ensino online</p>
