<h1>Bem vindo ao Knap! \o/</h1>

<p>Olá <%= @user.name %>, você já pode acessar o Knap.</p>
<p>O seu login é <%= @user.email %></p>
<p>A sua senha é <%= @user.password %></p>
<p>Boas aulas!</p>
<p></p>
<p>Knap - Plataforma de ensino online</p>
