$on-tablet: 979px;
$on-mobile: 460px;

// @mixin media-query($device) {
//   @media screen and (max-width: $device) {
//     @content;
//   }
// }

body {
	margin: 0;
	background-color: #E8E8E8;
	// @include media-query($on-tablet) {
	// 	background-color: #00E800;
	// }

}
