body {
  background: #eee;
  font-family: "alte", sans-serif;

}

.logo {
  width: 80px;
  margin-top: 11px;
  margin-right: 11px;
  margin-left: 11px;
}

.navbar-background{
  background: #ddd;
}

.grid-background {
  background: #fff;
  padding-bottom: 70px;
}

.margin-body {
  padding-top: 55px;

}

.title-header{
  h1 {
    color: #280F36;
    font-family: "alte", sans-serif;
  }
}

.box-height {
  height: 120px;
}

.box-curso {
  a{
    padding-bottom: 6px;
    margin-bottom: 10px;
    font-variant: small-caps;
    color: #efefef;
    font-size: larger;
    font-weight: .9em;

    .text {
      border-bottom: 1px solid #efefef;
    }

    .color0 {
      background-color: #eee; //280F36; 65326D
      border-left: 5px solid #bbb;
      border-top: 1px solid #bbb;
      border-right: 1px solid #bbb;
      border-bottom: 1px solid #bbb;
      height: 120px;
      color: #bbb;
    }

    .color1 {
      background-color: #5D8FD8; //280F36; 65326D
      border-left: 5px solid #2872DD;
      border-top: 1px solid #2872DD;
      border-right: 1px solid #2872DD;
      border-bottom: 1px solid #2872DD;
    }

    .color2 {
      background-color: #E78AA0;
      border-left: 5px solid #D1426B;
      border-top: 1px solid #D1426B;
      border-right: 1px solid #D1426B;
      border-bottom: 1px solid #D1426B;
    }

    .color3 {
      background-color: #EED47D;
      border-left: 5px solid #CC9E1D;
      border-top: 1px solid #CC9E1D;
      border-right: 1px solid #CC9E1D;
      border-bottom: 1px solid #CC9E1D;
    }

    .color4 {
      background-color: #EC866D;
      border-left: 5px solid #DD3E1F;
      border-top: 1px solid #DD3E1F;
      border-right: 1px solid #DD3E1F;
      border-bottom: 1px solid #DD3E1F;
    }

    .color5 {
      background-color: #67D3B2;
      border-left: 5px solid #339677;
      border-top: 1px solid #339677;
      border-right: 1px solid #339677;
      border-bottom: 1px solid #339677;
    }

    .box-align {
      text-align: center;
    }
    &:hover, &:active, &:focus{
      color: #ddd;
      text-decoration: none;
      .color0, .color1, .color2, .color3, .color4, .color5{
        opacity: 0.8;
      }
    }
  }

  .content {
    font-size: small;
    color: #eee;
    margin-bottom: 60px;
  }

  .new-icon {
    margin-top: 10px;
    font-size: 40px;
  }
}
