<html>
  <head>
    <style>
      body {font-family:calibri,verdana}
      h2 {color: #3A0C41;}
      p {color: #1d9089;}
      b {color: #3A0C41;}
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
